@model RegisterModel

@{
    ViewData["Title"] = "SignUp";
    Layout = "FormAccount";
}

<form asp-action="SaveRegister" asp-controller="Account" method="post">
    <div class="form-header">
        <h2>create your accout</h2>
        <p>join thousands of learners from around the world</p>
    </div>
    <div class="full-name">
        <div class="Fname">
            <label asp-for="FirstName">First Name</label>
            <input asp-for="FirstName" placeholder="Enter First Name" />
        </div>
        <div class="Mname">
            <label asp-for="MiddelName">Middle Name</label>
            <input asp-for="MiddelName" placeholder="Enter Middel Name" />
        </div>
        <div class="Lname">
            <label asp-for="LastName">Last Name</label>
            <input asp-for="LastName" placeholder="Enter Last Name" />
        </div>
    </div>
    <div class="user-email">
        <label asp-for="Email">Email</label>
        <input asp-for="Email" type="email" placeholder="Enter your Email address" />
    </div>
    <div class="user-pass">
        <label asp-for="Password">password</label>
        <input type="password" asp-for="Password" placeholder="Create a password" />
    </div>
    <div class="confirm-pass">
        <label asp-for="ConfirmedPassword">Confirm Password</label>
        <input type="password" asp-for="ConfirmedPassword" placeholder="Confirm your password" />
    </div>
    <div class="user-role">
        <label>i want to register as</label>
        <div class="all-roles">
            <div class="student">
                <div>
                    <input type="radio" asp-for="Role" value="Student" id="std" name="role" />
                    <label for="std">Student</label>
                </div>
                <p>Take courses and learn new skills</p>
            </div>
            <div class="instructor">
                <div>
                    <input type="radio" name="role" value="Instructor" id="instru" />
                    <label for="instru">Instructor</label>
                </div>
                <p>Create courses and teach students</p>
            </div>
        </div>
    </div>
    <div >
        <input class="btnSubmit" type="submit" value="Create" />
    </div>
    <p>already have an account?<span>log in</span></p>
</form>

@* @section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
} *@
